<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="ISO-8859-1">
    <title>User Management System</title>
 
   <!--  <link  href="webjars/bootstrap/4.0.0/css/bootstrap.min.js"  rel="stylesheet">
    <script type="text/javascript" src="webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">  
   
</head>

<body>

<div id="page-content-wrapper">
		<div class="container-fluid" >
			<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
				<button class="btn btn-primary" id="menu-toggle">&#9776</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item active">
								<a class="nav-link" href="#" >MENU 1 <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="#">MENU 2</a>
							</li>
						</ul>
						<div class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								SETTING
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
					</div>
					</div>
				</nav>

			</div>
			<!-- End navbar -->

			<!--    side bar -->

			<div class="d-flex" id="wrapper">

				<!-- Sidebar -->

				<div class="bg-light border-right" id="sidebar-wrapper">
					<div class="sidebar-heading">Profile Name </div>
					<div class="list-group list-group-flush">
						 <a th:href="@{/listUsers}" class="list-group-item list-group-item-action bg-light"> List of Users </a> 
                         <a th:href="@{/viewModule}" class="list-group-item list-group-item-action bg-light"> list of Module</a>
                         <a th:href="@{/listOperateur}" class="list-group-item list-group-item-action bg-light"> List Operateur</a>
                         <a th:href="@{/listAgent}" class="list-group-item list-group-item-action bg-light"> List Agents</a>
						<a th:href="@{/listClient}" class="list-group-item list-group-item-action bg-light">List Client</a>
						<a th:href="@{/listOperation}" class="list-group-item list-group-item-action bg-light">list Operation</a>
				</div>
				</div>

    <div class="container my-2">
        <h1>Agent List</h1>
        
        <a th:href="@{/Agent/new}" class="btn btn-primary btn-sm mb-3"> Add Agent </a>

        


        <table border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Agent firstname</th>
                    <th>Agent lastname</th>
                    <th>Agent montant</th>
                   <th>Agent compte</th>
                   <th>Agent status</th>
                   <th>Agent date</th>
                   <th>Operateur name</th>
                   <th>Action</th>
                </tr>
            </thead>
            <tbody>
               <tr th:each="agent : ${listAgents}">
                    <td th:text="${agent.idagent}"></td>
                    <td th:text="${agent.firstname}"></td>
                    <td th:text="${agent.lastname}"></td>
                    <td th:text="${agent.montant}"></td>
                    <td th:text="${agent.compte}"></td>
                    <td th:text="${agent.status}"></td>
                    <td th:text="${agent.date}"></td>
                    <td th:text="${agent.operateur}"></td>
                  
                   <td> <a th:href="@{'/agent/update/' + ${agent.idagent}}" >Edit</a>
                        <a th:href="@{'/agent/delete/' + ${agent.idagent}}" >Delete</a>
                       <a th:href="@{'/operation/agent/update/' + ${agent.idagent}}" >Operation</a>
                    </td>    
                </tr>
            </tbody>
        </table>
        <hr>
        <ul class="nav nav-pills ">
        
        </ul>
    </div>
    </div>
				</div>
</body>

</html>