<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
<meta charset="ISO-8859-1">
<title>Reseau system Management</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">  
</head>
<body>
<div class="container">
<div th:if="${operationAgent.id == null}" ><h1 class="text-center"> Operation AgentRegister</h1></div>
<div th:unless="${operationAgent.id == null}" ><h1 class="text-center"> Operation AgentUpdate</h1></div>
<hr>
<h2> Save Operation </h2>
        <form action="#" th:action="@{/operationAgent/save}" th:object="${operationAgent}" method="POST">
            <input type="hidden" th:field="*{id}" th:value="${operationAgent.id}" class="form-control mb-4 col-4" required="required" />
            <input type="text" th:field="*{date}" th:value="${#temporals.format(localDate, 'yyyy-MM-dd')}"  class="form-control mb-4 col-4" required="required">
            <input type="text" th:field="*{montant}" placeholder="montant" class="form-control mb-4 col-4" required="required"> 
            <input type="text" th:field="*{type}" placeholder="type" class="form-control mb-4 col-4" required="required">
            <div class="form-group row">
            
            <label  >Agent Receiver: </label>
            <select th:field="*{agent2}" class="form-control mb-4 col-4" required >
            <th:block th:each="agent : ${listAgents}">
            <option th:text="${agent.firstname}" th:value="${agent.idagent}" />
            </th:block>
            </select>


           
            </div>
            <button type="submit" class="btn btn-info col-2"> Save Operation</button>
            </form>
</div>

</body>
</html>