<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
<meta charset="ISO-8859-1">
<title>Reseau system Management</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">  
</head>
<body>
<div class="container">
<div th:if="${operation.id == null}" ><h1 class="text-center"> Operation Register</h1></div>
<div th:unless="${operation.id == null}" ><h1 class="text-center"> Operation Update</h1></div>
<hr>
<h2> Save Operation </h2>
        <form action="#" th:action="@{/operation/agent/save}" th:object="${operation}" method="POST">
            <input type="hidden" th:field="*{id}" th:value="${operation.id}" class="form-control mb-4 col-4" required="required" />
            <input type="text" th:field="*{date}" placeholder="Date" class="form-control mb-4 col-4" required="required">
            <input type="text" th:field="*{montant}" placeholder="montant" class="form-control mb-4 col-4" required="required"> 
            <input type="text" th:field="*{type}" placeholder="type" class="form-control mb-4 col-4" required="required">
            <div class="form-group row">
            
            <label  >Agent 1: </label>
            <select th:field="*{agent}" class="form-control mb-4 col-4" required >
            <th:block th:each="agent : ${listAgents}">
            <option th:text="${agent.firstname}" th:value="${agent.idagent}" />
            </th:block>
            </select>

                <label  >Agent 2: </label>
                <select th:field="*{agent}" class="form-control mb-4 col-4" required >
                    <th:block th:each="agent : ${listAgents}">
                        <option th:text="${agent.firstname}" th:value="${agent.idagent}" />
                    </th:block>
                </select>
           
            </div>
            <button type="submit" class="btn btn-info col-2"> Save Operation</button>
            </form>
</div>

</body>
</html>