<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
<meta charset="ISO-8859-1">
<title>Reseau system Management</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">  
</head>
<body>
<div class="container">
<div th:if="${operateur .idoperateur  == null}" ><h1 class="text-center"> Operateur Register</h1></div>
<div th:unless="${operateur .idoperateur == null}" ><h1 class="text-center"> Operateur Update</h1></div>
<hr>
<h2> Save Operateur</h2>
        <form action="#" th:action="@{/operateur/save}" th:object="${operateur}" method="POST">
            <input type="hidden" th:field="*{idoperateur}" th:value="${idoperateur}" />
            <input type="text" th:field="*{operateurname}" placeholder="Operateur Name" class="form-control mb-4 col-4" required="required">

            <input type="text" th:field="*{compteprincipal}" placeholder="Compte principal" class="form-control mb-4 col-4" required="required">

            <input type="text" th:field="*{address}" placeholder="address" class="form-control mb-4 col-4" required="required">
            <button type="submit" class="btn btn-info col-2"> Save Operateur</button>
            </form>
</div>
</body>
</html>